<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Information</title>
 
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
   <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
 
</head>
<body>
<div align="center">
 
    <h1>Employee List</h1>
    <form th:action="@{/index}">
    Filter:<input type="text" name="keyword" id="keyword" size="15" 
    th:value="${keyword}" required /> &nbsp;
    
    <input type="submit" value="search"/>&nbsp;  
  </form>
  
  </br>
  
  <table border="3">
  <thead>
  <tr>
  <th>Employee id</th>
   <th>Employee Name</th>
    <th>Employee Mobile</th>
     <th>Employee Salary </th>
  </thead>
  
  <tbody>
  <tr th:each="employee:${listEmployee}">
  <td th:text="${employee.id}">Employee ID</td>
<td th:text="${employee.ename}">Employee Name</td>
<td th:text="${employee.mobile}">Mobile</td>
<td th:text="${employee.salary}">Salary</td>  
  </tr>
  
  </tbody>
  
  </table>
</div>
</body>
</html>